
#login-page{
    .container{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      padding-top: 3rem;
      @media #{$media-md}{
        height: 100vh;
        align-items: center;
        padding-top: 0;
      }
      @media #{$media-md-max}{
        position: fixed;
      }
    }
    .form-content{
      border-radius: 10px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      @media #{$media-sm}{
        border: 1px solid lightgray;
        width: 80%;
        height: auto;
      }
      @media #{$media-md}{width: 60%;}
      @media #{$media-lg}{width: 45%;}

      form{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
    .form-content .title{
      position: relative;
      font-size: 1.5rem;
      font-weight: bold;
      color: #333;
      text-align: center;
        &::before{
        content: '';
        position: absolute;
        bottom: -5px;
        height: 3px;
        width: 25px;
        background: $primary;
        border-radius: 5px;
        left: 50%; transform: translateX(-50%);
        }
    }
     
  }