.faq-bot-overlay{
    background: rgba(black, .5);
    position: fixed; width: 100%; height: 100%; top: 0; left: 0; 
    visibility: hidden; opacity: 0;
    z-index: 100;
    transition: all .2s ease;
    &.visible{
        visibility: visible;
        opacity: 1;
    }
    @media #{$media-md}{
        display: none;
    }
}
.faq-bot{
    $radius: 20px;
    position: fixed;
    bottom: 0; right: 0;
    width: 100%; height: 90%; 
    max-height: 0; opacity: 0;
    border-radius: $radius $radius 0 0;
    background: white;
    overflow: hidden;
    z-index: 105;
    box-shadow: 0 0 3px rgba(black, .3);
    transition: all .3s ease;
    &.visible{
        max-height: 100%;
        opacity: 1;
    }
    
    $headerHeight: 60px;
    .header{
       background: $primary;
       color: white;
       font-weight: bold;
       font-size: 1.5rem;
       height: $headerHeight;
       padding: 0 .7rem 0 .7rem;
    }

    .messages-container{
        height: calc(100% - $headerHeight)
    }

    @media #{$media-md}{
        width: 350px; height: 500px;
        bottom: 15px; right: 15px;
        border-radius: $radius;
    }
}